<style>
    .input-wrap {
        display: flex;
        flex-direction: column;
        width: 21.5vw;
    }

    .input-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    label {
        width: 2.3vw;
    }
</style>
<div>
    <div class="login-wrap">
        <div class="input-wrap">
            <div class="input-row">
                <label for="id">ID : </label>
                <input type="text" name="id" id="id" />
            </div>
            <div class="input-row">
                <label for="PW">PW : </label>
                <input type="text" name="PW" id="PW" />
            </div>
        </div>
        <div class="btn-area">
            <button><i class="fa-solid fa-arrow-right-to-bracket"></i> LOGIN</button>
        </div>
    </div>
</div>
