<link rel="stylesheet" href="/css/login.css" />

<style>
    input {
        margin: 5px 0; /* 기본 중간 값 */
    }
    /* 첫 번째 input */
    input:first-child {
        margin: 10px 0 5px 0;
    }

    /* 마지막 input */
    input:last-child {
        margin: 5px 0 10px 0;
    }

    img {
        width: 62.2px;
        height: 59.6px;
        cursor: pointer;
    }
</style>
<div class="login-container">
    <div class="logo-wrap">
        <h1>TODO</h1>
    </div>
    <div class="login-wrap">
        <div class="social-login">
            <p>소셜 로그인</p>
            <div class="social-buttons">
                <div>
                    <img
                        src="/image/google-login1.png"
                        alt="google Login"
                        id="google"
                        onclick="location.href='/auth/google'"
                    />
                </div>
                <div>
                    <img
                        src="/image/kakao-login1.png"
                        alt="kakao Login"
                        id="kakao"
                        onclick="location.href='/auth/kakao'"
                    />
                </div>
                <div>
                    <img
                        src="/image/naver-login1.png"
                        alt="naver Login"
                        id="naver"
                        onclick="location.href='/auth/naver'"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.4/kakao.min.js" integrity="sha384-DKYJZ8NLiK8MN4/C5P2dtSmLQ4KwPaoqAfyA/DfmEc1VDxu4yyC7wy6K1Hs90nka" crossorigin="anonymous"></script>
<script>
    function googleLogin() {

    }
    function kakaoLogin() {
        const id = e.id;
    }
    function naverLogin() {
        const id = e.id;
    }
</script>
