<style>
    .date-filter{
        text-align: center;
        display: flex;
        margin: 0px 40%;
    }

    .filter-btn{
        padding: 0.7em;
        flex: 1;
        margin: 0;
        border:0;
    }
</style>
<div class="content">
    <div class="date-filter">
        <button class="filter-btn" data-period="day">Day</button>
        <button class="filter-btn" data-period="week">Week</button>
        <button class="filter-btn" data-period="month">Month</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        //userInfo();
        const name = $('#name').text();
        const social = $('#social').text();
        const email = $('#email').text();
        $('h1').text(`나는${name} 나의 이메일은 ${email} 가입경로는 ${social}`);
    });

    function userInfo() {
        $.ajax({
            url: '/api/mypage',
            method: 'GET',
            success: function (data) {
                console.log(data.info);
                $('h1').text(
                    `나는${data.info.NAME} 나의 이메일은 ${data.info.EMAIL} 가입경로는 ${data.info.SOCIALTYPE}`,
                );
            },
            error: function (error) {
                alert(error.responseJSON);
            },
        });
    }
</script>
