:root {
    --color-light-gray: #f7f7f7;
    --color-middle-gray: #d9d9d9;
    --color-thick-gray: #a6a6a6;
    --color-silver: #d9d9d9;
    --color-pale-blue: #eff7fe;
    --color-light-sky-blue: #ccecff;
    --color-sky-blue: #85c6f7;
    --color-cornflower-blue: #88adfe;
    --color-azure-blue: #317bff;
    --color-cobalt-blue: #0b4da2;
    --color-navy-blue: #002060;
    --color-light-coral: #e26262;
    --color-note: #c31d1e;
    --color-main-background: #e8daef;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #eaf4fc, #f6f9fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-area {
    display: flex;
    gap: 7px;
    margin-bottom: 0.3em;
}

.hide {
    display: none !important;
}

.alert-btn {
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    border: none;
}

.alert-btn.confirm {
    background-color: #0b4da2;
    margin-right: 5px;
    opacity: 0.6;
}

.alert-btn.cancel {
    background-color: #bb271a;
    opacity: 0.6;
}

.alert-btn.confirm:hover {
    opacity: 1;
}

.alert-btn.cancel:hover {
    opacity: 1;
}
