.header-box {
    font-weight: bold;
    background-color: var(--color-header-background);
    font-size: 1.6rem;
    display: flex;
    gap: 1.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    padding: 3.1vh;
    font-size: 1.8em;
    min-height: 17px;
    height: 2.1vh;
    border-radius: 15px;
    align-items: center;
    position: relative; 
    color: var(--color-header-text);
}

.header-box .title {
    font-size: 1vw;
}

.header-box > div:hover {
    cursor: pointer;
}

.header-box > div:last-child {
    margin-left: 1.3vw;
}

img.menu {
    height: 4.3vh;
    width: auto;
    object-fit: contain;
}

.header-box > div:not(:first-child) {
    color: rgba(0, 0, 0, 0.3);
}

.header-box .active {
    color: #0b4da2 !important;
    margin-bottom: 5px;
}

.logout-icon {
    margin-left: auto;
    position: absolute; /* 절대 위치를 사용 */
    right: 50px; 
}