<style>
    .space-wrap {
        display: flex;
        border: 1px solid #d2b4de;
        border-radius: 15px;
        margin-top: 4vh;
        font-size: 1.2em;
        padding: 3.4px;
        align-items: center;
        flex-direction: column;
    }

    .space-wrap {
        height: 610px;
        max-height: 610px;
        border-radius: 15px;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .mypage-wrap {
        display: flex;
        border: 1px solid #d2b4de;
        border-radius: 15px;
        margin-top: 4vh;
        font-size: 1.2em;
        padding: 3.4px;
        align-items: center;
        flex-direction: column;
    }

    /* 각각의 게시글 */
    .each-space {
        display: flex;
        border: 1px solid #d2b4de;
        border-radius: 15px;
        margin-top: 1vh;
        font-size: 0.8em;
        padding: 3.4px;
        align-items: center;
        /* position: absolute; */
        width: 92%;
    }

    .index {
        border-right: 1px solid #d2b4de;
        padding: 0 17px;
    }

    .title {
        width: 73%;
    }

    .createAt {
        color: #a9a9a9;
        width: 20%;
    }

    input,
    select {
        border: 1px solid #d9d9d9;
        border-radius: 15px;
        font-size: 0.8em;
        padding: 13.4px;
    }

    .section select {
        padding: 13.4px 19%;
    }

    .section {
        margin-top: 4vh;
        text-align: left;
    }

    .section label {
        width: 110px;
        display: inline-block;
    }

    .date-filter {
        text-align: center;
        display: flex;
        gap: 15px;
    }

    .filter-btn {
        padding: 0.7em;
        flex: 1;
        margin: 0;
        border: 0;
        border-radius: 15px;
        background-color: var(--color-header-background);
    }

    .filter-btn:hover {
        background-color: var(--color-header-background);
        cursor: pointer;
    }

    .deleted-btn {
        border: 0;
        cursor: pointer;
        font-size: 1em;
        color: black;
    }

    @keyframes slideOut {
        0% {
            transform: translateX(0); /* 초기 위치 */
            opacity: 1; /* 완전히 보임 */
        }
        100% {
            transform: translateX(100%); /* 오른쪽으로 이동 */
            opacity: 0; /* 완전히 투명 */
        }
    }
    .each-space.removing {
        animation: slideOut 0.5s ease forwards; /* 0.5초 동안 오른쪽으로 이동 */
    }
</style>
<div class="content">
    <div class="date-filter">
        <button class="filter-btn active" data-period="INFO">
            <i class="fa-solid fa-calendar-day"></i> MY INFO
        </button>
        <button class="filter-btn" data-period="POST">
            <i class="fa-solid fa-calendar-week"></i> MY POST
        </button>
        <!-- <button class="filter-btn" data-period="following">
            <i class="fa-solid fa-user-plus"></i> FOLLOWING
        </button> -->
    </div>
    <div class="space-wrap"></div>
    <div class="mypage-wrap">
        <div class="section">
            <label for="nickname">닉네임</label>
            <input type="text" id="name" placeholder="NICKNAME" />
        </div>
        <div class="section">
            <label for="email">이메일</label>
            <input type="text" id="email" disabled />
        </div>
        <div class="section">
            <label for="social">소셜</label>
            <input type="text" id="social" disabled />
        </div>
        <div class="section">
            <label for="remark">설명</label>
            <input type="text" id="remark" maxlength="12" placeholder="10자로 소개하기" />
        </div>
        <div class="section">
            <label for="insta">INSTAGRAM</label>
            <input type="text" id="insta" placeholder="INSTAGRAM" />
        </div>
        <div class="section">
            <label for="createdDate">가입일</label>
            <input type="text" id="createdDate" disabled />
        </div>
        <div class="section">
            <div class="save-btn">저장</div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const id = $('#id').text();
        $('.space-wrap').hide();

        getuserInfoById(id);

        $('.filter-btn').click(function () {
            const type = $(this).data('period');
            $('.filter-btn').removeClass('active');
            if (type === 'INFO') {
                $(this).addClass('active');
                $(this).remove('active');
                $('.mypage-wrap').show();
                $('.space-wrap').hide();
            } else if (type === 'POST') {
                $(this).addClass('active');
                getMyPostById(id);
            }
        });

        $('.save-btn').click(function () {
            const name = $('#name').val();
            const insta = $('#insta').val();
            const remark = $('#remark').val();

            if (!name) {
                generalAlert('닉네임을 입력해주세요.');
                return false;
            }

            const info = {
                name,
                insta,
                remark,
            };

            saveInfoById(id, info);
        });

        $(document).on('click', '.deleted-btn', function () {
            const postId = $(this).closest('.each-space').children('.index').data('id');
            $(this).closest('.each-space').addClass('removing');
            setTimeout(() => {
                deletePost(postId, id);
            }, 500);
        });
    });

    function getuserInfoById(id) {
        $.ajax({
            url: `/api/mypage/${id}`,
            method: 'GET',
            success: function (data) {
                data = data[0];
                const createdAt = moment(data.createdAt).format('YYYY-MM-DD');
                $('#name').val(data.name);
                $('#email').val(data.email);
                $('#social').val(data.social);
                $('#insta').val(data.instaUrl ?? '');
                $('#remark').val(data.remark ?? '');
                $('#createdDate').val(createdAt);
            },
            error: function (error) {
                generalAlert(error.responseJSON);
            },
        });
    }

    function saveInfoById(id, info) {
        $.ajax({
            url: `/api/mypage/${id}`,
            method: 'PATCH',
            data: { info },
            success: function () {
                generalAlert('수정되었습니다.');
            },
            error: function (error) {
                generalAlert(error.responseJSON);
            },
        });
    }

    function getMyPostById(id) {
        $.ajax({
            url: `/api/mypage/post/${id}`,
            method: 'GET',
            success: function (data) {
                let list = '';
                data.forEach((each, index) => {
                    list += `<div class="each-space">
                        <p class="index" data-id=${each.id}>${index + 1}</p>
                        <p class="title">${each.title}</p>
                        <p class="createAt">${moment(each.createAt).format('YYYY-MM-DD')}</p>
                        <div class="option">
                            <button class="deleted-btn"><i class="fa-regular fa-trash-can"></i></button>
                        </div>
                    </div>
                    `;
                });
                $('.space-wrap .each-space').remove();
                $('.space-wrap').append(list);
                $('.space-wrap').show();
                $('.mypage-wrap').hide();
            },
            error: function (error) {
                generalAlert(error.responseJSON);
            },
        });
    }

    function deletePost(postId, id) {
        $.ajax({
            url: `/api/mypage/${postId}`,
            method: 'DELETE',
            success: function () {
                getMyPostById(id);
            },
            error: function (error) {
                generalAlert(error.responseJSON);
            },
        });
    }
</script>
