<div class="content">
    <div class="date-filter">
        <button class="filter-btn" data-period="today">TODAY</button>
        <button class="filter-btn" data-period="week">WEEK</button>
        <button class="filter-btn" data-period="month">MONTH</button>
    </div>
    <div class="todo-list">
        <div class="title">
            <label class="icon-label prev"> <i class="fa-solid fa-chevron-left prev-date"></i> </label>
            <p class="title-date">ToDo List</p>
            <label class="icon-label next"> <i class="fa-solid fa-chevron-right next-date"></i> </label>
        </div>

        <!-- toDo List  -->
        <div class="list-wrap"></div>
        <div class="text-area">
            <input type="text" class="input-todo" placeholder="ToDo" maxlength="20" />
            <label class="icon-click enter"><i class="fa-solid fa-arrow-up-long"></i></label>
        </div>
    </div>
</div>
<script>
</script>
