<div class="header-box">
    <div class="header todo" data-page="todo">TODO</div>
    <div class="header space" data-page="space">SPACE</div>
    <div class="header mypage" data-page="mypage">MYPAGE</div>
    <div class="header" data-page="auth/logout" class="logout-icon"><i class="fa-solid fa-power-off"></i></div>
</div>
