<div class="header-box">
    <div data-page="todo-service">TODO</div>
    <div data-page="space-service">SPACE</div>
    <div data-page="mypage-service">MYPAGE</div>
    <div data-page="auth/logout" class="logout-icon"><i class="fa-solid fa-power-off"></i></div>
</div>
