<!-- Custom Modal  -->
<!-- 취소 버튼 Default style="display:none;"  -->
<div class="custom-alert">
    <div class="alert-frame">
        <div class="alert-header">
            <div class="alert-title"><i class="fa-regular fa-bell"></i> SIS</div>
            <span class="alert-close"><i class="fa-regular fa-circle-xmark"></i></span>
        </div>
        <div class="alert-content"></div>
        <div class="alert-button-group">
            <button class="alert-btn confirm">확인</button>
            <button class="alert-btn cancel">취소</button>
        </div>
    </div>
</div>

